# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summerized

**Objectives:**
- List popular languages for Data Science 
- List commonly used libraries used by Data Scientists
- Ways of evaluating arithemtic operation in Jupyter
- Learn about styling and creating tables

Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. R

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Matplotlib

| Data Science Tools  |
|---------------------|
| Jupyter Notebook    |
| RStudio             |
| Apache Spark        |

### Below are a few examples of evaluating arithemetic expressions in Python

In [2]:
##This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
##This will convert 200 minutes to hours by diving by 60.
200/60

3.3333333333333335

## Author
Rediet Kebede